<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Hexo {{ escape_attr(hexo.version) }}" />
    {% include "_partial/common/head-prefetch.njk" %}
    {# FOUC theme script before blocking stylesheets (first-paint contract). #}
    {% include "_partial/common/head-theme.njk" %}
    {% include "_partial/common/head-mathjax.njk" %}
    {% include "_partial/common/head-seo.njk" %}
    {% include "_partial/common/head-styles.njk" %}
</head>
