{# All typography is served with the blog; unicode ranges load subsets on demand. #}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/fonts.css')) }}">
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/style.min.css')) }}">
{% if gates.needsCode %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/code.min.css')) }}">
{% endif %}
{% if gates.needsToc %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/toc.min.css')) }}">
{% endif %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/folio.css')) }}">
