{# Start with Latin/symbol faces; only missing system CJK fonts need the full table. #}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/fonts-core.css')) }}">
<meta name="folio-fonts" content="{{ attr_url(versioned_url('css/fonts.css')) }}">
<noscript><link rel="stylesheet" href="{{ attr_url(versioned_url('css/fonts.css')) }}"></noscript>
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/style.min.css')) }}">
{% if gates.needsCode %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/code.min.css')) }}">
{% endif %}
{% if gates.needsToc %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/toc.min.css')) }}">
{% endif %}
<link rel="stylesheet" href="{{ attr_url(versioned_url('css/folio.css')) }}">
